<div id="rails" class="layer-2">
  <div class="lights">
    <img src="/public/images/spotlights/licht.png" alt="spotlight on rails" draggable="false">
    <div class="beam"></div>
  </div>
  <div class="lights">
    <img src="/public/images/spotlights/licht.png" alt="spotlight on rails" draggable="false">
    <div class="beam"></div>
  </div>
  <div class="lights">
    <img src="/public/images/spotlights/licht.png" alt="spotlight on rails" draggable="false">
    <div class="beam"></div>
  </div>
  <div class="lights">
    <img src="/public/images/spotlights/licht.png" alt="spotlight on rails" draggable="false">
    <div class="beam"></div>
  </div>
  <div class="lights">
    <img src="/public/images/spotlights/licht.png" alt="spotlight on rails" draggable="false">
    <div class="beam"></div>
  </div>
  <div class="lights">
    <img src="/public/images/spotlights/licht.png" alt="spotlight on rails" draggable="false">
    <div class="beam"></div>
  </div>
  <div class="lights">
    <img src="/public/images/spotlights/licht.png" alt="spotlight on rails" draggable="false">
    <div class="beam"></div>
  </div>
  <div class="lights">
    <img src="/public/images/spotlights/licht.png" alt="spotlight on rails" draggable="false">
    <div class="beam"></div>
  </div>
</div>
