<div class="sub-card">
  <div class="submarine-container">
    <img src="/public/images/projects/mannen-met-de-code.webp" class="submarine" alt="Submarine" />
  </div>
  <div class="bubble-container"></div>

  <svg width="200vw" height="300" viewBox="0 0 2000 300" preserveAspectRatio="none"
    style="position: absolute; top: 30%; left: -50vw; pointer-events: none;">
    <path id="wavePath" d="M2000,150 Q1750,100 1500,150 T1000,150 T500,150 T0,150 T-500,150" fill="transparent"
      stroke="none" />
  </svg>
</div>