.sub-card {
  position: absolute;
  top: 20em;
  width: 140dvw;
  display: flex;
  justify-content: center;
  z-index: 10;
  overflow-x: hidden;
}

.submarine-container {
  position: fixed;
  width: 20vw;
  max-width: 400px;
  aspect-ratio: 1;
  pointer-events: none;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.submarine-container img {
  width: 300px;
  aspect-ratio: 1;
  object-fit: contain;
}

.submarine {
  width: 100%;
  height: auto;
}

.bubble-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999999 !important;
}

.bubble {
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: rgba(173, 216, 230, 0.7);
  border-radius: 50%;
  animation: bubbleUp 2s ease-out forwards;
}

@keyframes bubbleUp {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  100% {
    transform: var(--bubble-move) scale(0.5);
    opacity: 0;
  }
}
