<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block head %}
  <title>{{ title }}</title>
  {% endblock %}

  <title>De Man met de Hamer</title>
  <link rel="icon" type="image/x-icon" href="./public/images/favicon.svg">
  <link rel="stylesheet" href="/index.css">
  <script type="module" src="/index.js" defer></script>
  {% block styles %}{% endblock %}
  {% block scripts %}{% endblock %}
</head>


<body data-auto-init-popovers>
  {% comment %} <header>
    <h1>De man met de hamer</h1>
  </header>  {% endcomment %}
  <main>
    {% block content %}{% endblock %}
  </main>
  {% comment %} <footer>
       <p>de man met de code productions</p>
    </footer> 
 {% endcomment %}

</body>

</html>

