<div class="moon-container layer-1">
  <div class="cable"></div>
  <div class="cable"></div>
  <div class="moon">
    <img src="/public/images/images-responsiveness/moon.png">
    <div class="moon-gradient"></div>
  </div>
</div>>