<div class="theatre">
    <!-- Row 1: fast left -->
    <div class='theatre-row-1'>
        <div class="scroller" data-direction="left" data-speed="fast">
            <div class="scroller__inner">
                <img src="/public/images/projects/theater-chairs Small.png" alt="chair" />
                <img src="/public/images/projects/theater-chairs Small.png" alt="chair" />
                <img src="/public/images/projects/theater-chairs Small.png" alt="chair" />
                <img src="/public/images/projects/theater-chairs Small.png" alt="chair" />
                <img src="/public/images/projects/theater-chairs Small.png" alt="chair" />
                <img src="/public/images/projects/theater-chairs Small.png" alt="chair" />
                <img src="/public/images/projects/theater-chairs Small.png" alt="chair" />
                <img src="/public/images/projects/theater-chairs Small.png" alt="chair" />
                <img src="/public/images/projects/theater-chairs Small.png" alt="chair" />
                <img src="/public/images/projects/theater-chairs Small.png" alt="chair" />
            </div>
        </div>
    </div>

    <div class='theatre-row-2'>
        <div class="scroller" data-direction="right" data-speed="slow">
            <div class="scroller__inner">
                <img src="/public/images/projects/theater-chairs Small.png" alt="chair" />
                <img src="/public/images/projects/theater-chairs Small.png" alt="chair" />
                <img src="/public/images/projects/theater-chairs Small.png" alt="chair" />
                <img src="/public/images/projects/theater-chairs Small.png" alt="chair" />
                <img src="/public/images/projects/theater-chairs Small.png" alt="chair" />
                <img src="/public/images/projects/theater-chairs Small.png" alt="chair" />
                <img src="/public/images/projects/theater-chairs Small.png" alt="chair" />
                <img src="/public/images/projects/theater-chairs Small.png" alt="chair" />
                <img src="/public/images/projects/theater-chairs Small.png" alt="chair" />
                <img src="/public/images/projects/theater-chairs Small.png" alt="chair" />
            </div>
        </div>
    </div>

    <img class='cartoon-maarten' src='/public/images/projects/maarten.png' alt='cartoon maarten' />

    <div class='theatre-row-3'>
        <div class="scroller" data-direction="left" data-speed="faster">
            <div class="scroller__inner">
                <img src="/public/images/projects/theater-chairs-Small-back.png" alt="chair" />
                <img src="/public/images/projects/theater-chairs-Small-back.png" alt="chair" />
                <img src="/public/images/projects/theater-chairs-Small-back.png" alt="chair" />
                <img src="/public/images/projects/theater-chairs-Small-back.png" alt="chair" />
                <img src="/public/images/projects/theater-chairs-Small-back.png" alt="chair" />
                <img src="/public/images/projects/theater-chairs-Small-back.png" alt="chair" />
            </div>
        </div>
    </div>
</div>