{% layout "server/layouts/base.liquid" %}



{% comment %}
{% block content %}
<div class="container">
  <h1>De Man met de hamer</h1>

  <a href="/projects">
    <h2>Naar projecten</h2>
  </a>


  {% endblock %}{% endcomment %}


  {% block content %}

  <div class="frame">
    {% render '../components/preloader/preload.liquid'%}

    <a href="/about" class="logo-container layer-1">
      <div class="hanging-sign">
        <div class="cable"></div>
        <div class="cable"></div>
        <div class="logo">
          <img src="/public/images/images-responsiveness/hanging-logo.webp">
          <div class="gradient"></div>
        </div>
      </div>
      <h2 href="#" class="nav-text">Over<span class="break">de man</span>
      </h2>
      <span class="pulse"></span>
    </a>

    <div class="audience layer-3">
      <img src="/public/images/images-responsiveness/audience.webp">
    </div>

    <img class="bottom-left layer-2" src="/public/images/images-responsiveness/frame-bottom-left.webp">
    <img class="top-left layer-2" src="/public/images/images-responsiveness/frame-top-left.webp">
    <div class="repeating-wall-left layer-2"></div>

    <div class="repeating-cage layer-2"></div>
    {% render '../components/stage-lights/stage-light.liquid' %}

    <div class="repeating-floor layer-2"></div>

    <a href="/projects" class="prop-container layer-1">
      <img class="prop-shadows" src="/public/images/images-responsiveness/prop-shadows.webp">
      <img class="props" src="/public/images/images-responsiveness/props.webp">
      <h2 href="#" class="nav-text">Bekijk<span class="break"></span>Projecten</h2>
      <span class="pulse delayed"></span>
    </a>

    {% render '../components/cannon/cannon.liquid' %}

    {% render '../components/moon/moon.liquid' %}

    <div class="repeating-roof layer-2"></div>

    <div class="repeating-wall-right layer-2"></div>
    <img class="bottom-right layer-2" src="/public/images/images-responsiveness/frame-bottom-right.webp">
    <img class="top-right layer-2" src="/public/images/images-responsiveness/frame-top-right.webp">




</div>

<svg class="visually-hidden" width="10" height="10" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <filter id="border-text" filterUnits="userSpaceOnUse">
      <feMorphology in="SourceAlpha" operator="dilate" radius="3" result="DILATED" />

      <feFlood flood-color="white" />
      <feComposite in="OUTLINE-COLOR" in2="DILATED" operator="in" result="COLORED-OUTLINE" />

      <feMerge>
        <feMergeNode in="COLORED-OUTLINE" />
        <feMergeNode in="SourceGraphic" />
      </feMerge>
    </filter>
  </defs>
</svg>

{% render '../components/curtains/curtains.liquid' %}
{% render '../components/hammer-cursor/hammer-cursor.liquid' %}



{% endblock %}