<div class="project-sorting" id="projectSorting">   
    <div class="sort-buttons">
      <!-- Date Sorting Toggle Button -->
      <button class="sort-btn" id="sortDateToggle" data-sort="date" data-direction="desc" title="Sorteer op datum">
        <svg class="sort-icon" viewBox="0 0 24 24" width="18" height="18">
          <path d="M7 10l5 5 5-5H7z"></path>
        </svg>
        <span>Datum</span>
      </button>
      
      <!-- Name Sorting Toggle Button -->
      <button class="sort-btn" id="sortNameToggle" data-sort="name" data-direction="asc" title="Sorteer op naam">
        <svg class="sort-icon" viewBox="0 0 24 24" width="18" height="18">
          <path d="M7 14l5-5 5 5H7z"></path>
        </svg>
        <span>Naam</span>
      </button>
    </div>
  </div>