/* -=-=-=-=-=-=-=-=-=- CANNON -=-=-=-=-=-=-=-=-=- */
.frame .cannon-container {
    position: absolute;
    bottom: -30px;
    left: 100px;
    z-index: 100;
}

.frame .cannon-container .cannon {
    /* niks */
}

.frame .cannon-container .cannon-shadow {
    position: absolute;
    bottom: -15px;
    right: 10px;
}


.flash {
    height: 100vh;
    width: 100vw;
    position: absolute;
    inset: 0;
    background: white;
    pointer-events: none;
    opacity: 0;
    z-index: 99999 !important;
}

.flash-fx {
    animation: flash 0.15s ease-in-out;
}

.shake-fx {
    animation: shake 0.5s linear;
}

@keyframes flash {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes shake {
    0% {
        transform: translate(0px, 0px);
    }

    5% {
        transform: translate(8px, -10px);
    }

    10% {
        transform: translate(-12px, 15px);
    }

    15% {
        transform: translate(14px, 8px);
    }

    20% {
        transform: translate(-18px, -12px);
    }

    25% {
        transform: translate(6px, 10px);
    }

    30% {
        transform: translate(-16px, -20px);
    }

    35% {
        transform: translate(12px, -8px);
    }

    40% {
        transform: translate(-10px, 18px);
    }

    45% {
        transform: translate(8px, -22px);
    }

    50% {
        transform: translate(20px, 0px);
    }

    55% {
        transform: translate(-22px, 14px);
    }

    60% {
        transform: translate(6px, -18px);
    }

    65% {
        transform: translate(-18px, 16px);
    }

    70% {
        transform: translate(10px, -12px);
    }

    75% {
        transform: translate(-24px, 18px);
    }

    80% {
        transform: translate(16px, 0px);
    }

    85% {
        transform: translate(-14px, -20px);
    }

    90% {
        transform: translate(12px, 18px);
    }

    95% {
        transform: translate(-10px, -6px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@media (max-width: 1513px) {

    .frame .cannon-container .cannon {
        width: 425px;
    }

    .frame .cannon-container .cannon-shadow {
        width: 520px;
        bottom: -12px;
        right: 16px;
    }

}