<div class="cannon-container layer-1">
  <img class="cannon-shadow" src="/public/images/images-responsiveness/cannon-shadow.webp" alt="">
  <img class="cannon" src="/public/images/images-responsiveness/cannon.webp" alt="">

  <audio id="cannon-explosion" src="/public/audio/cannon-fire.wav"></audio>
  <audio id="cannon-yell" src="/public/audio/Wilhelm-Scream.mp3"></audio>
</div>

<div class="flash layer-1"></div>