@font-face {
  font-family: Saloon;
  src: url("/public/fonts/Saloon.woff") format("woff");
}
.text-slider {
  .scroller {
    overflow: hidden;
    max-width: 100dvw;
    border-top: 16px solid black;
    border-bottom: 16px solid black;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ff0000' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
  }

  .scroller__inner {
    display: flex;
    gap: 1rem;
  }

  .scroller[data-animated="true"] {
    overflow: hidden;
  }

  .scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 15s)
      var(--_animation-direction, forwards) linear infinite;
    animation-delay: -1s;
  }

  .scroller[data-direction="left"] {
    --_animation-direction: forwards;
  }

  .scroller[data-direction="left"] {
    --_animation-direction: backwards;
  }

  .scroller[data-speed="slow"] {
    --_animation-duration: 20s;
  }

  .scroller[data-speed="medium"] {
    --_animation-duration: 15s;
  }

  .scroller[data-speed="fast"] {
    --_animation-duration: 10s;
  }

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }

  .scroller__inner h1 {
    font-family: Saloon;
    font-size: clamp(5em, 20vw, 14em);
    word-spacing: -0.5ch;
    color: #c79c35;
    -webkit-text-stroke: 4px #554318;
    text-transform: uppercase;
    margin: 0;
  }
}
