{% block text-slider %}

<div class="text-slider">
    <div class="scroller" data-direction="left" data-speed="slow">
        <div class="scroller__inner">
            <h1>De man met de hamer |</h1>
        </div>
    </div>
</div>

{% endblock %}