{% layout "server/layouts/base.liquid" %}

{% block content %}

<div class="wrapper-about">
    <aside>

    </aside>
    <main>
        <div class="about-nav"> <a class="a-ticket ticket-color" href="/">Terug naar projecten</a></div>

        <div class="employee-wrapper">
            <div class="employee">
                <div class="image">
                    <img class="green-magnet ontop" src="/public/images/scribbles/tape-green.webp" alt="groene magneet">
                    <img class="hammer ontop" src="/public/images/scribbles/hammer.svg" alt="hamertje">
                    <img src="/public/images/crew/maarten.webp" alt="Maarten in de werkplaats">
                </div>
                <div class="text">
                    <h2 class="about-h2">Maarten Smids</h2>
                    <h3 class="about-h3">Eigenaar</h3>
                </div>
            </div>
            <div class="employee">
                <div class="image">
                    <div class="cloud ontop"><img src="/public/images/scribbles/cloud.svg" alt="cloud"></div>
                    <img class="white-magnet ontop" src="/public/images/scribbles/tape-white.webp" alt="witte magneet">
                    <img class="tape ontop" src="/public/images/scribbles/tape-1.webp" alt="tape">
                    <img src="/public/images/crew/rienke.webp" alt="Rienke in de werkplaats">
                </div>
                <div class="text">
                    <h2 class="about-h2">Rienke Krikke</h2>
                    <h3 class="about-h3">Chef Werkplaats</h3>
                </div>
            </div>
            <div class="employee">
                <div class="image">
                    <img class="red-magnet ontop" src="/public/images/scribbles/tape-red.webp" alt="rode tape">
                    <img class="tape ontop" src="/public/images/scribbles/tape-2.webp" alt="tape">
                    <img src="/public/images/crew/Berd.webp" alt="Berd in de werkplaats">
                </div>
                <div class="text">
                    <h2 class="about-h2">Berd Visscher</h2>
                    <h3 class="about-h3">Ontwerp / Bouw</h3>
                </div>
            </div>
            <div class="employee">
                <div class="image">
                    <img class="orange-magnet ontop" src="/public/images/scribbles/tape-orange.webp"
                        alt="oranje magneet">
                    <img class="tape ontop" src="/public/images/scribbles/tape-3.webp" alt="tape">
                    {% comment %} <img class="hammer ontop" src="/public/images/scribbles/hammer.svg" alt="hamertje">
                    {% endcomment %}
                    <img src="/public/images/crew/mannen-met-de-code.webp" alt="Het team die de site gemaakt heeft">
                </div>
                <div class="text">
                    <h2 class="about-h2">De Man met de Code</h2>
                    <h3 class="about-h3">Web Design</h3>
                </div>
            </div>
        </div>
        <div class="about">
            <div class="text">
                <h1 class="about-h1">Over de Man(nen)</h1>
                <p class="about-p">De mannen met de hamer zijn sinds 2000 jullie betrouwbare meedenkende bouwers en
                    ontwerpers. Ons hart ligt bij decor rekwisieten en interieur. Wij werken voornamelijk met hout en
                    staal en hebben onze eigen poule van specialisten en decorateurs. Wij zorgen er samen voor dat
                    jullie
                    project van A tot Z wordt gerealiseerd en naar wens wordt opgeleverd. Graag ontvangen wij jullie in
                    onze werkplaats op een geweldige lokatie in Diemen om jullie projecten door te nemen. </p>

                <h4>U vraagt -wij hameren.</h4>
            </div>
            <div class="maps">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2438.0491221695147!2d4.965540977325951!3d52.33325495003793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5e1f6e4bebe5f%3A0xe886272703923bd!2sDe%20man%20met%20de%20hamer%20B.V.!5e0!3m2!1snl!2snl!4v1749646962962!5m2!1snl!2snl"
                    style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                <div class="text-maps">
                    <h3>Visseringweg 9 - 1112 AS - Diemen</h3>
                    <a href="mailto:info@demanmetdehamer.nl"> info@demanmetdehamer.nl</a>
                </div>
            </div>
        </div>
    </main>
</div>

{% render '../../components/curtains/curtains.liquid'  %}
{% render '../../components/hammer-cursor/hammer-cursor.liquid' %}


{% endblock %}